<h1>Welcome to SuperFeed!</h1>
<h3>Feeds:</h3>
<% if current_user.authorizations.find_by(provider: "github") %>
  <%= link_to "Disconnect your Github account", destroy_auth_path("github"), method: :delete %>
<% else %>
  <%= link_to "Connect your Github account", "/auth/github" %>
<% end %>
  <% @feed.each do |item| %>
    <a href="app/assets/images/<%= item[:destination_url] %>.png" class="panel_links">
      <div class="panel">
        <%= image_tag(item[:image_url], class: "api_logo") %>
        <h5>
          <img src="<%= item[:name_image_url] %>" class="avatar_pic" />
          <%= Time.parse(item[:timestamp]).strftime("%b %d at %I:%M%p" ) %> |
          <%= item[:name] %>
        </h5>
        <p>
          <%= item[:text] %>
        </p>
      </div>
    </a>
  <% end %>

<br>
<%= link_to "Add your LinkedIn", "/auth/linkedin" %>
<br>
<%= link_to "Add your Twitter", "/auth/twitter" %>
