<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Superfeed</a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="left" class="dropdown">
        <li class="has-dropdown">
          <a href="#">Github</a>
          <ul class="dropdown">
            <% if logged_in? && current_user.authorizations.find_by(provider: "github") %>
              <li><%= link_to "Disconnect your Github account", destroy_auth_path("github"), method: :delete %></li>
            <% else %>
              <li><%= link_to "Connect your Github account", "/auth/github" %></li>
            <% end %>
            <li><a href="#" class="filter_link" id="github_filter">Toggle Github messages</a></li>
          </ul>
        </li>
        <li class="has-dropdown">
          <a href="#">LinkedIn</a>
          <ul class="dropdown">
            <% if logged_in? &&  current_user.authorizations.find_by(provider: "linkedin") %>
              <li><%= link_to "Disconnect your LinkedIn account", destroy_auth_path("linkedin"), method: :delete %></li>
            <% else %>
              <li><%= link_to "Connect your LinkedIn account", "/auth/linkedin" %></li>
            <% end %>
            <li><a href="#" class="filter_link" id="linkedin_filter">Toggle LinkedIn messages</a></li>
          </ul>
        </li>
        <li class="has-dropdown">
          <a href="#">Twitter</a>
          <ul class="dropdown">
            <% if logged_in? &&  current_user.authorizations.find_by(provider: "twitter") %>
              <li><%= link_to "Disconnect your Twitter account", destroy_auth_path("twitter"), method: :delete %></li>
            <% else %>
              <li><%= link_to "Connect your Twitter account", "/auth/twitter" %></li>
            <% end %>
            <li><a href="#" class="filter_link" id="linkedin_filter">Toggle Twitter messages</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
</div>

<% @feed.each do |item| %>
  <a href="<%= item[:destination_url] %>" class="panel_links">
    <div class="panel" id="<%= item[:source] %>">
      <%= image_tag(item[:image_url], class: "api_logo") %>
      <h5>
        <img src="<%= item[:name_image_url] %>" class="avatar_pic" />
        <%= Time.parse(item[:timestamp]).strftime("%b %d at %I:%M%p" ) %> |
        <%= item[:name] %>
      </h5>
      <p>
        <%= item[:text] %>
      </p>
    </div>
  </a>
<% end %>
